body{
    min-width: 1200px;
    padding-top: 70px;
}
.breadcrumb-item.active a{
    font-weight: bold;
}
.top-box{
    position: relative;
}
.top-box p{
    position: absolute;
    left: 50%;
    top:50%;
    font-size: 60px;
    display: none;
    color:#fff;
    margin-left: -330px;
    margin-top: -45px;
}
